@page "/"
@using BlazorWasmApp.Components

<PageTitle>Home</PageTitle>

<h1>Datepicker Calendar</h1>

<MyDatePicker @bind-Value=TheDate/>
	<br/>

@(TheDate.HasValue? TheDate.Value.ToString("dd.MM.yyyy") : "NULL")

<input type="date" @bind=TheDate />
<br />

Welcome to your new app. In this app, you can select a date using the custom date picker component. The selected date will be displayed on top of the date picker and in a standard HTML date input field. You can also check out the counter and weather.;)
@code
{
	private DateTime? TheDate { get; set; } = DateTime.Today;
}
 