@page "/"
@using BlazorWasmApp.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MyDatePicker @bind-Value=TheDate/>
	<br/>

@(TheDate.HasValue? TheDate.Value.ToString("dd.MM.yyyy") : "NULL")

<input type="date" @bind=TheDate />


Welcome to your new app.
@code
{
	private DateTime? TheDate { get; set; } = DateTime.Today;
}
 